.app-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .data-section {   
    max-width: 100vw;
    
    .data-entries {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      
      .data-entry {
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        padding: 10px;
        
        .left {
          display: grid;
          grid-template-columns: 1fr 110px;
          grid-template-rows: 1fr 1fr;
          margin-right: 10px;
          
          label {
            margin-right: 10px;
          }
          
          input {
            width: 100px;
          }
        }
        
        .right {
          button {
            margin: 0;
          }
        }
      }
    }
    
    .add-more {
      margin-top: 10px;
    }
  }

  .svg-prop-inputs,
  .chart-prop-inputs {
    display: grid;    
    grid-template-columns: 75px 110px;
    grid-template-rows: 1fr 1fr;
  }
  
  svg {
    border: 1px solid black;
  }
  
  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }
}
