.app-container {
  .MuiFormControl-root {
    margin-right: 10px;
    margin-bottom: 10px;
  }
    
  .data-entry {
    .data-entry-fields,
    .data-entry-actions {
      padding: 16px;
    }

    .data-entry-actions {
      padding-top: 0;
    }
  }
}
